    <!-- GRID -->
    <div class="contenido py-5 bg-dark text-bg-dark">
        <h2 class="border-bottom">Productos destacados</h2>
        <div class="contenido__personajes">
            <div class="contenido__imagen ">
                <img src="./img/2. BANNERS MOBILE/Mesa de trabajo 1.png" alt="" class="align-items-center">
                <h4 class="py-3">CARTUCHO RODHIUM</h4>
            </div>
            <div class="contenido__imagen ">
                <img src="./img/2. BANNERS MOBILE/Mesa de trabajo 7.jpg" alt="">
                <h4 class="py-3">PIGMENTOS</h4>
            </div>
            <div class="contenido__imagen ">
                <img src="./img/2. BANNERS MOBILE/Mesa de trabajo 3.png" alt="">
                <h4 class="py-3">PEN STAR</h4>
            </div>
        </div>
    </div>