{{> head}}

<body>
    {{> navbar }}
    <div class="border py-1">
        <h1 class="text-bg-dark py-1 text-center">ADMINISTRACIÓN DE TIENDA</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Nuevo
            producto</button>
    </div>
    <div>
        <ul>
            {{#each products}}
            <li>
                <a href="/tienda/{{this._id}}">
                    {{this.name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    {{> footer }}
    {{> modalShow}}
    {{> footerScript}}
    {{> modalScript}}
</body>

</html>