<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CODIGO ORIGINAL --}}
    <link rel="stylesheet" href="../css/bootstrap.min.css">    
    <link rel="stylesheet" href="../css/custom-8.css">        
    <script src="https://kit.fontawesome.com/187dbd9ab8.js" crossorigin="anonymous"></script>   {{!-- Iconos footer --}}
    <title>{{title}}</title>
</head>
<body>
    {{> navbar }}
    <form class="main" action="/tienda" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="product[name]" required>

        <label for="description">Descripción:</label>
        <textarea id="description" name="product[description]" required></textarea>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="product[price]" required>

        <button type="submit">Crear producto</button>
    </form>
    
    {{> footer }}
    
{{!-- CODIGO ORIGINAL --}}
    <!-- ESTO LINKEA EL POPPER DE BOOTSTRAP ONLINE -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <!-- ESTO LINKEA EL JS DE BOOTSTRAP DESCARGADO -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>