{{> head}}

<body>
  {{> navbar }}
  <div class="border py-1">
    <h1 class="text-bg-dark py-1 text-center">Producto</h1>

    <h2>Nombre: {{product.name}} </h2>
    <p>Descripcion: {{product.description}} </p>
    <p>Precio: ${{product.price}} </p>
  </div>
  <div class="border py-1">
    <!-- Bot贸n para abrir el modal de edici贸n -->
    <button type="button" class="btn btn-primary" onclick="openEditModal()">Editar producto</button>

    <!-- Bot贸n para abrir el modal de eliminaci贸n -->
    <button type="button" class="btn btn-danger" onclick="openDeleteModal()">Eliminar</button>

    <a class="btn btn-secondary" href="/tienda/index" role="button">
      Volver
    </a>
  </div>
  {{> footer }}
  {{> modalShow}}
  {{> footerScript}}
  {{> modalScript}}
</body>

</html>