<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- CODIGO ORIGINAL --}}
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom-8.css">
  <script src="https://kit.fontawesome.com/187dbd9ab8.js" crossorigin="anonymous"></script> {{!-- Iconos footer --}}
  <title>{{title}}</title>
</head>

<body>
  {{> navbar }}

  <h1>:-D</h1>
  <h2>Nombre: {{product.name}} </h2>
  <p>Descripcion: {{product.description}} </p>
  <p>Precio: ${{product.price}} </p>


  <!-- Bot贸n para abrir el modal de edici贸n -->
  <button type="button" class="btn btn-primary" onclick="openEditModal()">Editar producto</button>

  <!-- Bot贸n para abrir el modal de eliminaci贸n -->
  <button type="button" class="btn btn-danger" onclick="openDeleteModal()">Eliminar</button>

  <a class="btn btn-secondary btn-secondary2" href="/tienda/index" role="button">
    Volver
  </a>

  {{> modalShow}}


  {{> footerScript}}
  {{!-- CODIGO ORIGINAL --}}
  {{!-- <!-- ESTO LINKEA EL POPPER DE BOOTSTRAP ONLINE -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <!-- ESTO LINKEA EL JS DE BOOTSTRAP DESCARGADO -->
  <script src="../js/bootstrap.min.js"></script> --}}
  {{> modalScript}}
</body>

</html>