<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CODIGO ORIGINAL --}}
    <link rel="stylesheet" href="./css/bootstrap.min.css">    
    <link rel="stylesheet" href="./css/custom-8.css">        
    <script src="https://kit.fontawesome.com/187dbd9ab8.js" crossorigin="anonymous"></script>   {{!-- Iconos footer --}}
    <title>{{title}}</title>
</head>
<body>
    {{> navbar }}
{{!--     <main>
        <h1>{{title}}</h1>
        <h3>{{body}}</h3>
    </main> --}}
    {{> carrousel }}
    {{> grid }}
    {{> footer }}
    
{{!-- CODIGO ORIGINAL --}}
    <!-- ESTO LINKEA EL POPPER DE BOOTSTRAP ONLINE -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <!-- ESTO LINKEA EL JS DE BOOTSTRAP DESCARGADO -->
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>