{{> head}}

<body>
    {{> navbar }}
    <header>
        <h1 class="text-bg-dark py-5 text-center">Bienvenido a Multicolor Ink</h1>
    </header>

    <main class="main border">
        <ul class="inicio_sesion border">
            <li class="border">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Facebook
                </a>
            </li>
            <li class="">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Google
                </a>
            </li>
            <li class="">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con tu email
                </a>
            </li>
            <li class="py-3">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    Registrate
                </a>
            </li>
            <li class="py-3">
                <a class="btn btn-secondary btn-secondary2" href="./tienda/index" role="button">
                    SALTAR
                </a>
            </li>
        </ul>
    </main>

    {{> footerScript}}

</body>

</html>