{{> head}}

<body>
    {{> navbar }}
    <header>
        <h1 class="text-bg-dark py-5 text-center">Bienvenido a Multicolor Ink</h1>
    </header>

    <main class="main border">
        <div class="inicio_sesion border">
            <div class="border">
                <button class="btn btn-secondary btn-secondary2" onclick="location.href='./inicio-sesion.html'">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Facebook
                </button>
            </div>
            <div class="">
                <button class="btn btn-secondary btn-secondary2" onclick="location.href='./inicio-sesion.html'">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Google
                </button>
            </div>
            <div class="">
                <button class="btn btn-secondary btn-secondary2" onclick="location.href='./inicio-sesion.html'">
                    <span class="iconAuthContainer">
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con tu email
                </button>
            </div>
            <div class="py-3">
                <button class="btn btn-secondary btn-secondary2" onclick="location.href='./inicio-sesion.html'">
                    Registrate
                </button>
            </div>
            <div class="py-3">
                <button class="btn btn-secondary btn-secondary2" onclick="location.href='./tienda/index'">
                    SALTAR
                </button>
            </div>
        </div>
    </main>


    {{!-- <!-- Botón para abrir el modal de inicio de sesión -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
        Iniciar sesión
    </button>



    <!-- Script para controlar el modal de inicio de sesión -->
    <script>
        // Obtener elementos del DOM
        var loginModal = document.getElementById('loginModal');

        // Función para mostrar el modal de inicio de sesión
        function openLoginModal() {
            $(loginModal).modal('show');
        }

        // Event listener para abrir el modal de inicio de sesión
        document.querySelector('button[data-target="#loginModal"]').addEventListener('click', openLoginModal);
    </script> --}}

    {{> modalShow}}
    {{> footerScript}}
    {{> modalScript}}
</body>

</html>