<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CODIGO ORIGINAL --}}
    <link rel="stylesheet" href="./css/bootstrap.min.css">    
    <link rel="stylesheet" href="./css/custom-8.css">        
    <script src="https://kit.fontawesome.com/187dbd9ab8.js" crossorigin="anonymous"></script>   {{!-- Iconos footer --}}
    <title>{{title}}</title>
</head>
<body>
    {{> navbar }}
    <header>
        <h1 class="text-bg-dark py-5 text-center">Bienvenido a Multicolor Ink</h1>
    </header>

    <main class="main border">
        <ul class="inicio_sesion border">
            <li class="border">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer" >
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Facebook
                </a>
            </li>                    
            <li class="">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer" >
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con Google
                </a>
            </li>                   
            <li class="">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                    <span class="iconAuthContainer" >
                        <img src="./img/circle-user.svg" alt="icono de usuario">
                    </span>Ingresa con tu email
                </a>
            </li>                    
            <li class="py-3">
                <a class="btn btn-secondary btn-secondary2" href="./inicio-sesion.html" role="button">
                Registrate
                </a>
            </li>
                        <li class="py-3">
                <a class="btn btn-secondary btn-secondary2" href="./tienda/index" role="button">
                SALTAR
                </a>
            </li>
        </ul>
    </main>
    
{{!-- CODIGO ORIGINAL --}}
    <!-- ESTO LINKEA EL POPPER DE BOOTSTRAP ONLINE -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <!-- ESTO LINKEA EL JS DE BOOTSTRAP DESCARGADO -->
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>