{{> head}}

<body>
    {{> navbar }}

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Bienvenidos a Multicolor Ink</h1>
                <p class="lead">En Multicolor Ink, somos una empresa líder dedicada a la venta mayorista y minorista de
                    insumos de tatuajes en Chile, Argentina, Brasil y en todos los países de habla hispana. Nuestro
                    compromiso es proporcionar productos de alta calidad que cumplan con los estándares y normativas de
                    la industria médica.</p>
            </div>
        </div>

        <div class="container">
            <p>Nuestra pasión por el arte del tatuaje y el deseo de brindar a los profesionales las herramientas
                adecuadas nos impulsan a ofrecer una amplia gama de productos que cubren todas las necesidades del
                sector. Desde tintas de tatuaje de la más alta calidad hasta agujas, máquinas y equipos, nos esforzamos
                por mantenernos actualizados con las últimas tendencias y avances en el campo de los insumos para
                tatuajes.</p>
            <p>En Multicolor Ink, entendemos la importancia de la seguridad y la higiene en el proceso de tatuaje. Por
                eso, nos comprometemos a ofrecer productos que cumplen con los más altos estándares de calidad.
                Trabajamos en estrecha colaboración con fabricantes confiables y reconocidos en la industria para
                garantizar la excelencia en cada producto que ofrecemos.</p>
            <p>Nuestro equipo está compuesto por profesionales apasionados y conocedores de la industria del tatuaje.
                Estamos comprometidos con brindar un servicio al cliente excepcional, asesoramiento experto y soluciones
                personalizadas para satisfacer las necesidades de cada uno de nuestros clientes. Valoramos las
                relaciones a largo plazo y nos esforzamos por establecer asociaciones sólidas con tatuadores, estudios
                de tatuajes y distribuidores en toda la región.</p>
            <p>En Multicolor Ink, nos enorgullece ser una empresa confiable y de confianza en la industria de los
                insumos para tatuajes. Estamos comprometidos con la satisfacción del cliente y nos esforzamos por
                superar las expectativas en cada interacción.</p>
            <p>Explora nuestro catálogo en línea y descubre la amplia variedad de productos de calidad que ofrecemos. Si
                tienes alguna pregunta o necesitas asesoramiento, nuestro equipo de atención al cliente estará encantado
                de ayudarte.</p>
            <p>Únete a la familia Multicolor Ink y déjanos ser tu socio confiable en el mundo del tatuaje.</p>
        </div>
        {{> footer }}

        {{> modalShow}}
        {{> footerScript}}
        {{> modalScript}}
    </body>

    </html>